body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: yellow;
}

img {
    max-width: 100%;
}

h1 {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

footer {
    p {
        color: red;
    }
}