@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);

$themeColor: #353148;
$toggleBoxBackgroundColor: #00000099;
$fontFamily: 'Trebuchet MS', sans-serif;
$fontAwesome: "Font Awesome 6 Free";

body {
    font-family: $fontFamily;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
}

#data-controls {
    box-shadow: 0 0 40px 0 #00000026;
    justify-content: space-between;
    background-color: $themeColor;
    width: calc(100% - 10px);
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;
    padding: 18px 22px;
    max-width: 1200px;
    margin: 10px 5px;
    display: flex;

    span {
        color: #ffffff;
        flex: 1;

        &:last-child {
            text-align: right;
        }
    }

    label {
        display: inline-block;
        position: relative;

        input[type="text"] {
            font-family: $fontFamily;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 8px 12px;
            outline: none;
            width: 300px;
            border: none;

            &:not(:placeholder-shown) ~ #clear-search {
                display: block;
            }
        }

        #clear-search {
            transform: translateY(-50%);
            position: absolute;
            color: #000000;
            display: none;
            right: 5px;
            top: 50%;

            &::after {
                font-family: $fontAwesome;
                font-weight: 600;
                content: "\f00d";
            }
        }
    }

    #user-icon {
        background-color: #ffffff;
        text-transform: uppercase;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        border-radius: 100%;
        color: $themeColor;
        user-select: none;
        flex: inherit;
        height: 26px;
        width: 26px;
    }

    button {
        background-color: transparent;
        font-family: $fontFamily;
        color: #ffffff;
        cursor: pointer;
        border: none;

        &::before {
            font-family: $fontAwesome;
            font-weight: 600;
        }

        &:hover {
            filter: opacity(0.8);
        }

        &.login {
            &::before {
                content: "\f007";
            }
        }

        &.logout {
            &::before {
                content: "\f08b";
            }
        }

        &#reload-table {
            &::before {
                content: "\f2f9";
            }
        }

        &.add-holder {
            font-size: 14px;

            &::before {
                margin-right: 5px;
                content: "\f234";
            }
        }
    }
}

#holders-table {
    box-shadow: 0 0 40px 0 #00000026;
    width: calc(100% - 10px);
    table-layout: fixed;
    margin: 0 0 20px 0;
    border-spacing: 0;
    max-width: 1200px;

    tr {
        th {
            border-bottom: 1px solid black;
            background-color: $themeColor;
            user-select: none;
            text-align: left;
            color: #ffffff;
            font-size: 18px;
            padding: 18px 0;

            &:first-child {
                border-radius: 5px 0 0 0;
                padding-left: 40px;
            }

            &:last-child {
                border-radius: 0 5px 0 0;
            }

            &[data-order-name] {
                cursor: pointer;
            }

            &.order-asc, &.order-desc {
                &::after {
                    font-family: $fontAwesome;
                    vertical-align: middle;
                    margin-left: 5px;
                    font-weight: 600;
                    font-size: 12px;
                }
            }

            &.order-asc {
                &::after {
                    content: "\f0d7";
                }
            }

            &.order-desc {
                &::after {
                    content: "\f0d8";
                }
            }
        }

        td {
            position: relative;
            color: #808080;
            padding: 16px 0;
            font-size: 16px;

            &:first-child {
                padding-left: 40px;
            }

            button {
                background-color: transparent;
                color: rgb(25, 95, 187);
                font-weight: 600;
                cursor: pointer;
                font-size: 14px;
                border: none;
            }
        }

        &:nth-child(even) {
            background-color: #f8f6ff;

            &:hover {
                background-color: #f1f1f1;
            }
        }

        &:nth-child(odd) {
            background-color: #ffffff;

            &:hover {
                background-color: #f8f8f8;
            }
        }

        &.empty {
            text-align: center;
        }
    }
}

#toggle-login-box {
    display: none;

    &.active {
        display: flex;
    }

    form {
        p {
            &.error-message {
                text-align: center;
                color: #ff0000;
            }
        }
    }
}

#detail-box {
    #detail-box-content {
        background-color: #ffffff;
        width: calc(100% - 10px);
        box-sizing: border-box;
        border-radius: 10px;
        position: relative;
        max-width: 1200px;
        display: block;

        #detail-box-header {
            background-color: $themeColor;
            border-radius: 10px 10px 0 0;
            box-sizing: border-box;
            margin-bottom: 10px;
            padding: 10px 20px;
            display: flex;
            width: 100%;

            .value-box {
                margin-left: 30px;

                &:first-child {
                    margin-left: 10px;
                }

                h2 {
                    color: #ffffff;
                }
            }
        }

        #detail-box-data {
            padding: 10px 20px;
            display: flex;

            .value-box {
                flex: 1;
            }
        }

        table {
            width: calc(100% - 40px);
            table-layout: fixed;
            border-spacing: 0;
            margin: 20px;

            tr {
                &:nth-child(2n+3) {
                    background-color: #f8f6ff;
                }

                th {
                    text-align: left;
                    padding: 16px 0;
                }

                td {
                    padding: 16px 5px;
                    color: #808080;

                    &.empty-message {
                        padding: 20px 0 10px 0;
                        text-align: center;
                        color: #888888;
                    }

                    button {
                        background-color: transparent;
                        color: #195fbb;
                        font-weight: 600;
                        cursor: pointer;
                        font-size: 14px;
                        border: none;
                    }
                }
            }
        }

        .value-box {
            h2 {
                margin: 10px 0;
            }

            h5 {
                color: #888888;
                margin: 5px;
            }
        }

        #detail-box-admin {
            justify-content: flex-end;
            margin: 10px 20px;
            display: flex;

            button {
                font-family: $fontFamily;
                transition: 0.2s filter;
                border-radius: 8px;
                padding: 8px 10px;
                user-select: none;
                cursor: pointer;
                border: none;

                &:hover {
                    filter: brightness(0.9);
                }
            }

            #remove-holder {
                background-color: #bd2222;
                color: #ffffff;
                border: none;
            }

            #edit-holder, #add-gun {
                background-color: #e9e9e9;
                margin-right: 10px;
            }
        }
    }
}

.toggle-box {
    background-color: $toggleBoxBackgroundColor;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;

    .close-button {
        background-color: transparent;
        position: absolute;
        cursor: pointer;
        border: none;
        height: 20px;
        right: -30px;
        width: 20px;
        top: 10px;

        &::before, &::after {
            background-color: #ffffff;
            position: absolute;
            width: 100%;
            height: 2px;
            content: "";
            left: 0;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    form {
        background-color: #ffffff;
        border-radius: 10px;
        position: relative;
        max-width: 100%;
        padding: 15px;
        width: 300px;

        label {
            position: relative;
            margin: 30px 0;
            display: block;

            &:first-of-type {
                margin-top: 15px;
            }

            &:last-of-type {
                margin-bottom: 15px;
            }

            span {
                transition: 0.2s top, font-size 0.2s;
                transform: translateY(-50%);
                pointer-events: none;
                position: absolute;
                user-select: none;
                color: #888888;
                left: 10px;
                top: 50%;
            }

            input, select {
                background-color: transparent;
                font-family: $fontFamily;
                box-sizing: border-box;
                border-radius: 5px;
                padding: 8px 10px;
                outline: none;
                display: block;
                border: none;
                width: 100%;

                &:focus ~ span, &:not(:placeholder-shown) ~ span {
                    color: $themeColor;
                    font-size: 12px;
                    top: -12px;

                    &::after {
                        width: 100%;
                    }
                }

                &[type="number"] {
                    appearance: textfield;
                }

                &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

            &::before {
                transform: translateX(-50%);
                background-color: #dddddd;
                transition: width 0.2s;
                position: absolute;
                content: "";
                height: 2px;
                width: 100%;
                bottom: 0;
                left: 50%;
            }
        }

        button[type="submit"] {
            background-color: $themeColor;
            font-family: $fontFamily;
            border-radius: 5px;
            user-select: none;
            margin-top: 15px;
            color: #ffffff;
            cursor: pointer;
            font-size: 15px;
            padding: 10px;
            border: none;
            width: 100%;

            &:disabled {
                filter: brightness(1.1);
                cursor: not-allowed;

                &::before {
                    animation: 1.5s infinite spining linear;
                    font-family: $fontAwesome;
                    display: inline-block;
                    margin-right: 5px;
                    font-weight: 600;
                    content: "\f1ce";
                }
            }
        }
    }
}

@keyframes spining {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1270px) {
    #detail-box {
        #detail-box-content {
            .close-button {
                top: -30px;
                right: 10px;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .toggle-box {
        .close-button {
            top: -30px;
            right: 10px;
        }
    }
}