#add-form {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    width: 100%;

    form {
        box-shadow: 0 0 40px 0 #00000026;
        border-radius: 5px 5px 0 0;
        flex-direction: column;
        min-width: 300px;
        overflow: hidden;
        display: flex;

        a {
            text-decoration: none;
            color: #353148;
            margin: 10px;

            &::before {
                font-family: "Font Awesome 6 Free";
                font-weight: 600;
                content: "\f060";
            }
        }

        h1 {
            background-color: #353148;
            margin-bottom: 10px;
            text-align: center;
            color: #ffffff;
            padding: 21px 0;
            margin-top: 0;
            width: 100%;
        }

        label {
            box-sizing: border-box;
            padding: 0 10px;
            display: block;
            margin: 8px 0;
            width: 100%;
        }

        input, select {
            font-family: 'Trebuchet MS', sans-serif;
            box-sizing: border-box;
            display: block;
            width: 100%;
        }

        input, select {
            border: 1px solid #c9c7d1;
            border-radius: 2px;
            padding: 8px 10px;
            font-size: 14px;
            outline: none;
        }

        .error-message {
            text-align: center;
            margin: 8px 0;
            color: red;
        }

        button[type="submit"] {
            font-family: 'Trebuchet MS', sans-serif;
            background-color: #353148;
            width: calc(100% - 20px);
            border-radius: 5px;
            padding: 12px 10px;
            margin: 10px auto;
            color: #ffffff;
            cursor: pointer;
            font-size: 14px;
            border: 0;
        }
    }
}