body {
    font-family: 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100vw;
}

form {
    box-shadow: 0 0 40px 0 #00000026;
    border-radius: 5px 5px 0 0;
    flex-direction: column;
    min-width: 300px;
    overflow: hidden;
    display: flex;

    h1 {
        background-color: #353148;
        margin-bottom: 10px;
        text-align: center;
        color: #ffffff;
        padding: 21px 0;
        margin-top: 0;
        width: 100%;
    }

    label {
        box-sizing: border-box;
        padding: 0 10px;
        display: block;
        margin: 8px 0;
        width: 100%;
    }

    input {
        font-family: 'Trebuchet MS', sans-serif;
        border: 1px solid #c9c7d1;
        box-sizing: border-box;
        border-radius: 2px;
        padding: 8px 10px;
        font-size: 14px;
        display: block;
        outline: none;
        width: 100%;
    }

    .error-message {
        text-align: center;
        margin: 8px 0;
        color: red;
    }

    button[type="submit"] {
        font-family: 'Trebuchet MS', sans-serif;
        background-color: #353148;
        width: calc(100% - 20px);
        border-radius: 5px;
        padding: 12px 10px;
        margin: 10px auto;
        color: #ffffff;
        cursor: pointer;
        font-size: 14px;
        border: 0;
    }
}