@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);

body {
    font-family: 'Trebuchet MS', sans-serif;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    display: flex;
    width: 100vw;
    padding: 0;
    margin: 0;
}

#data-controls {
    box-shadow: 0 0 40px 0 #00000026;
    justify-content: space-between;
    background-color: #353148;
    box-sizing: border-box;
    align-items: center;
    border-radius: 5px;
    padding: 18px 22px;
    max-width: 1200px;
    margin: 10px 0;
    display: flex;
    width: 100%;

    a {
        transition: filter 0.2s;
        text-decoration: none;
        display: inline-block;
        color: #ffffff;
        margin: 0 10px;

        &:hover {
            filter: opacity(0.8);
        }

        &::before {
            font-family: "Font Awesome 6 Free";
            margin-right: 10px;
            font-weight: 600;
        }

        &.add-user {
            &::before {
                content: "\f234";
            }
        }

        &.to-pdf {
            &::before {
                content: "\f1c1";
            }
        }

        &.to-json {
            &::before {
                content: "\f121";
            }
        }

        &.logout {
            &::before {
                content: "\f08b";
            }
        }
    }

    input[type="text"] {
        font-family: 'Trebuchet MS', sans-serif;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 8px 12px;
        outline: none;
        border: none;
    }

    button {
        font-family: "Font Awesome 6 Free";
        background-color: transparent;
        font-weight: 600;
        color: #ffffff;
        cursor: pointer;
        border: none;

        &.search {
            &::after {
                content: "\f002";
            }
        }
    }
}

table {
    box-shadow: 0 0 40px 0 #00000026;
    border-spacing: 0;
    max-width: 1200px;
    width: 100%;


    tr {
        th {
            border-bottom: 1px solid black;
            background-color: #353148;
            text-align: left;
            color: #ffffff;
            font-size: 18px;
            padding: 18px 0;

            &:first-child {
                border-radius: 5px 0 0 0;
                padding-left: 40px;
            }

            &:last-child {
                border-radius: 0 5px 0 0;
            }

            button {
                font-family: "Font Awesome 6 Free";
                background-color: transparent;
                color: #ffffff;
                font-weight: 600;
                cursor: pointer;
                border: none;

                &.order-desc {
                    &::after {
                        content: "\f078";
                    }
                }

                &.order-asc {
                    &::after {
                        content: "\f077";
                    }
                }
            }
        }

        td {
            position: relative;
            color: #808080;
            padding: 16px 0;
            font-size: 16px;

            &:first-child {
                padding-left: 40px;
            }

            a {
                &.delete, &.edit {
                    text-decoration: none;
                    color: #000000;
                    margin: 0 5px;

                    &::after {
                        font-family: "Font Awesome 6 Free";
                        font-weight: 600;
                    }
                }

                &.delete {
                    &::after {
                        content: "\f1f8";
                    }
                }

                &.edit {
                    &::after {
                        content: "\f304";
                    }
                }
            }
        }

        .accept-remove {
            box-shadow: 0 0 40px 0 #00000026;
            background-color: #ffffff;
            border-radius: 8px;
            position: absolute;
            display: flex;
            padding: 5px;
            right: 5px;
            z-index: 1;
            top: 100%;

            button {
                font-family: 'Trebuchet MS', sans-serif;
                border-radius: 3px;
                padding: 5px 8px;
                margin: 3px 5px;
                cursor: pointer;

                &:first-child {
                    border: 1px solid #353148;
                    background-color: #353148;
                    color: #ffffff;
                }

                &:last-child {
                    background-color: transparent;
                    border: 1px solid #c9c7d1;
                    color: #c9c7d1;
                }
            }
        }


        &:nth-child(even) {
            background-color: #f8f6ff;

            &:hover {
                background-color: #f1f1f1;
            }
        }

        &:nth-child(odd) {
            background-color: #ffffff;

            &:hover {
                background-color: #f8f8f8;
            }
        }

        &.empty {
            text-align: center;
        }
    }
}

@import "addUser"

