img {
    position: absolute;
    &:nth-child(1) {
        z-index: 2;
    }

    &:nth-child(2) {
        z-index: 1;
    }
}

span {
    position: absolute;
    z-index: 3;
    top: 50px;
    left: 150px;
    font-size: 50px;
}