span {
    position: absolute;
    min-height: 100px;
    min-width: 100px;

    &.first-rect {
        border: 1px solid red;
        left: 20%;
        top: 40%;
    }

    &.second-rect {
        border: 1px solid blue;
        left: 20%;
        top: 40%;
    }

    &.third-rect {
        border: 1px solid yellow;
        left: 20%;
        top: 40%;
    }

    &.fifth-rect {
        border: 1px solid green;
        left: 80%;
        top: 40%;
    }
}