body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    position: relative;
    width: 100vw;
    height: 50vh;
    background-color: red;

    h1 {
        display: inline-block;
    }
}

#left-box, #center-box, #right-box {
    float: left;
    position: relative;
    height: 50vh;
}

#left-box, #right-box {
    background-color: blue;
    width: 25%;
}

#left-box {
    ul {
        li {
            list-style-type: none;

            a {
                color: #ffffff;
                text-decoration: underline;

                &:hover {
                    color: red;
                }
            }
        }
    }
}

#center-box {
    background-color: green;
    width: 50%;
}