body {
    padding: 0;
    margin: 0;
}

h1 {
    span {
        &:nth-child(1) {
            color: red;
        }

        &:nth-child(2) {
            color: blue;
        }

        &:nth-child(3) {
            color: green;
        }
    }
}

table {
    img {
        object-fit: contain;
        height: 200px;
        width: 200px;
    }

    p {
        text-align: center;
    }
}

form {
    label {
        display: block;
    }
}
